@font-face {
    font-family: 'HSBC-Light';
    src: url("fonts/UniversNextforHSBC-Light.eot");
    /* IE9+ Compat Modes */
    src: url("fonts/UniversNextforHSBC-Light.eot?#iefix") format("embedded-opentype"), url("fonts/UniversNextforHSBC-Light.woff") format("woff"), url("fonts/UniversNextforHSBC-Light.ttf") format("truetype"), url("fonts/UniversNextforHSBC-Light.svg#webfont") format("svg");
    /* Legacy iOS */
}

@font-face {
    font-family: 'HSBC-Regular';
    src: url("fonts/UniversNextforHSBC-Regular.eot");
    /* IE9+ Compat Modes */
    src: url("fonts/UniversNextforHSBC-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/UniversNextforHSBC-Regular.woff") format("woff"), url("fonts/UniversNextforHSBC-Regular.ttf") format("truetype"), url("fonts/UniversNextforHSBC-Regular.svg#webfont") format("svg");
    /* Legacy iOS */
}

@font-face {
    font-family: 'HSBC-Medium';
    src: url("fonts/UniversNextforHSBC-Medium.eot");
    /* IE9+ Compat Modes */
    src: url("fonts/UniversNextforHSBC-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/UniversNextforHSBC-Medium.woff") format("woff"), url("fonts/UniversNextforHSBC-Medium.ttf") format("truetype"), url("fonts/UniversNextforHSBC-Medium.svg#webfont") format("svg");
    /* Legacy iOS */
}

@font-face {
    font-family: 'HSBC-Bold';
    src: url("fonts/UniversNextforHSBC-Bold.eot");
    /* IE9+ Compat Modes */
    src: url("fonts/UniversNextforHSBC-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/UniversNextforHSBC-Bold.woff") format("woff"), url("fonts/UniversNextforHSBC-Bold.ttf") format("truetype"), url("fonts/UniversNextforHSBC-Bold.svg#webfont") format("svg");
    /* Legacy iOS */
}

*, *::before, *::after {
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-family: 'HSBC-Light';
}

::-webkit-scrollbar {
    display: none;
}

.only-desktop {
    display: unset;
}

body {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100vw;
    height: 10vh;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10vw;
    z-index: 10;
}

.header .logo {
    /* width: 70%; */
    flex-grow: 10;
    height: 4vh;
    background-image: url('../image/chs_hsbc_logo.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
}

.header .lang a {
    font-size: 16px;
    font-family: 'HSBC-Bold';
    color: #000000;
    text-decoration: none;
    margin-right: 1em;
}

.header .header-menu {
    /* width: fit-content; */
    /* height: 6vh; */
    background-color: #db0011;
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    align-items: center;
    margin-top: 2vh;
    align-self: flex-start;
}

.header .header-menu .header-item {
    width: 100%;
    min-height: 6vh;
    max-height: 6vh;
    padding-left: 2vh;
    padding-right: 2vh;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 1em;
    padding-top: calc((6vh - 1em) / 2);
    cursor: pointer;
    text-decoration: none;
}

.header .header-menu .header-item:not(:first-child) {
    display: none;
    background-color: #000000;
}

.header .header-menu.active .header-item:not(:first-child) {
    display: block;
}

.header .header-menu .header-item:last-child {
    border-radius: 0 0 3vh 3vh;
}

.header .header-menu .header-item:not(:first-child):hover {
    background-color: #db0011;
    /* color: #db0011; */
}

.header .header-menu.active #close {
    display: none;
}

.header .header-menu:not(.active) #open {
    display: none;
}

.kv-area {
    margin-top: 10vh;
    width: 80vw;
    /* padding-top: 30.64vw; */
    height: 30.64vw;
    /* height: 0; */
    background-image: url('../image/kv.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.kv-area .text-box {
    width: 33%;
    margin-left: 2.5vw;
    background-color: #FFFFFF;
    padding: 2.5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.kv-area .text-box .title {
    width: 100%;
    font-size: 36px;
    margin-bottom: 0.75em;
    font-weight: 400;
}

.kv-area .text-box .text {
    width: 100%;
    font-size: 18px;
}

.kv-area .text-box .text sup {
    font-size: 12px;
}

.content {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: visible;
    margin-top: 7.5vh;
}

.content > .section-title {
    font-family: 'HSBC-Regular';
    font-size: 30px;
    line-height: 1.2em;
    padding-left: 30px;
    margin-bottom: 1em;
    font-weight: 400;
}

.content > .section-title::before {
    content: '';
    position: absolute;
    top: 0.1rem;
    left: 0;
    bottom: 0.1rem;
    width: 7.5px;
    background-color: #db0011;
}

.content .gray-container {
    width: 100vw;
    background-color: #f4f4f4;
    align-self: center;
    font-size: 30px;
    padding: 1em 10vw;
}

.content .gray-container .white-box {
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #a1a1a1;
    border-radius: 20px;
    padding: 7.5vh 2.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content .gray-container .white-box:not(:last-child) {
    margin-bottom: 6vh;
}

.content .gray-container .white-box .card-img {
    flex-basis: 17.5vw;
    flex-shrink: 0;
    margin-right: 2.5vw;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
}

.card-online {
    background-image: url('../image/card-online.png');
}

.card-cashback {
    background-image: url('../image/card-cashback.png');
}

.card-livefree {
    background-image: url('../image/card-livefree.png');
}

.card-travel {
    background-image: url('../image/card-travel.png');
}

.content .gray-container .white-box .mid-right-container {
    width: calc(100% - 20vw);
    display: flex;
    flex-direction: column;
}

.content .gray-container .white-box .mid-right-container .inner-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.content .gray-container .white-box .middle-col {
    width: calc(100% - 25vw);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content .gray-container .white-box .title {
    font-family: 'HSBC-Bold';
    font-size: 24px;
    line-height: 1em;
    margin-bottom: 15px;
    font-weight: 500;
    color: #000000;
}

.content .gray-container .white-box .description {
    font-family: 'HSBC-Medium';
    font-size: 18px;
    line-height: 1em;
    font-weight: 500;
    margin-bottom: 5vh;
}

.content .gray-container .white-box .middle-col .small-title {
    font-family: 'HSBC-Medium';
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 10px;
}

.content .gray-container .white-box .middle-col .list {
    width: 100%;
    list-style-type: none;
    margin-bottom: 25px;
}

.content .gray-container .white-box .middle-col .list .list-item {
    padding-left: 0.75em;
    font-size: 18px;
    margin-bottom: 10px;
}

.content .gray-container .white-box .middle-col .list .list-item strong {
    font-family: 'HSBC-Medium';
    font-size: 18px;
    font-weight: 400;
}

.content .gray-container .white-box .middle-col .list .list-item sup {
    font-size: 12px;
}

.content .gray-container .white-box .middle-col .list .list-item::before {
    content: '·';
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'HSBC-Medium';
    font-weight: 700;
}

.content .gray-container .white-box .middle-col a {
    text-decoration: none;
}

.content .gray-container .white-box .middle-col .button {
    width: fit-content;
    background-color: #db0011;
    font-size: 18px;
    padding: 0.6em 1.75em;
    border-radius: 0.3em;
    font-family: 'HSBC-Medium';
    text-decoration: none;
    color: #FFFFFF;
}

.content .gray-container .white-box .right-col {
    flex-basis: 22.5vw;
    min-width: 22.5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin-top: calc(57px + 5vh); */
    margin-left: 2.5vw;
    padding-left: 2.5vw;
    border-left: 1px solid #b8b8b8;
}

.content .gray-container .white-box .right-col .title {
    font-family: 'HSBC-Medium';
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 10px;
    padding-left: 32px;
}

.content .gray-container .white-box .right-col .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 25px;
    height: 50px;
    background-image: url('../image/gift.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
}

.content .gray-container .white-box .right-col .title sup {
    font-size: 12px;
}

.content .gray-container .white-box .right-col .list-item {
    width: 100%;
    font-size: 18px;
    margin-bottom: 50px;
    padding-left: 0.75em;
}

.content .gray-container .white-box .right-col .list-item::before {
    content: "·";
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: 'HSBC-Medium';
    font-size: 18px;
    font-weight: 700;
}

.content .gray-container .white-box .right-col .list-item.no-bottom-space {
    margin-bottom: 5px;
}

.content .gray-container .white-box .right-col .list-item strong {
    font-family: 'HSBC-Medium';
    font-size: 18px;
    font-weight: 500;
    /* color: #db0011; */
}

.content .gray-container .white-box .right-col .list-item sup {
    font-family: 'HSBC-Medium';
    font-size: 14px;
    font-weight: 400;
}

.content .gray-container .white-box .right-col a, .content .gray-container .white-box .right-col .to-content {
    font-size: 14px;
    text-decoration: none;
    color: #000000;
    margin-bottom: 10px;
    line-height: 1.3em;
    /* padding-right: 20px; */
    display: inline-block;
    cursor: pointer;
}

.content .gray-container .white-box .right-col a sup {
    font-size: 11px;
}

/* .content .gray-container .white-box .right-col a::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 10px;
    background-image: url(../image/arrow.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
} */

.content .gray-container .white-box .right-col .arrow {
    display: inline-block;
    margin-left: 10px;
    padding-top: 8px;
    width: 7px;
    height: 14px;
    background-image: url('../image/arrow.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
}

#content {
    width: 100vw;
    padding-left: 10vw;
    padding-right: 10vw;
    align-self: flex-start;
}

#content .section-title {
    cursor: pointer;
}

.content.active .close {
    display: none;
}

.content:not(.active) .open {
    display: none;
}

.content > .container {
    border-left: 2px solid #b8b8b8;
    display: none;
}

.content.active > .container {
    width: 100%;
    display: flex !important;
    flex-direction: column;
}

.content > .container > .title {
    font-family: 'HSBC-Medium';
    font-size: 18px;
    font-weight: 500;
    padding-left: 30px;
    margin-bottom: 15px;
}

.content > .container > .title:not(:first-child) {
    margin-top: 15px;
}

.content > .list, .content > .container > .list {
    padding-left: 30px;
    list-style-type: none;
}

.content > .list .list-item, .content > .container > .list .list-item {
    padding-left: 0.75em;
    font-size: 18px;
    margin-bottom: 10px;
    width: fit-content;
    line-height: 1.5em;
}

.content > .container > .list .list-item strong {
    font-size: 18px;
    font-family: 'HSBC-Medium';
    font-weight: 500;
}

.content > .list .list-item::before, .content > .container > .list .list-item::before {
    content: '·';
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'HSBC-Medium';
    font-weight: 700;
}

.content .more-left-padding {
    margin-left: 10px;
}

.content > .container > .small-title {
    padding-left: calc(40px + (0.75 * 18px));
    font-size: 18px;
    font-family: 'HSBC-Regular';
    /* color: #db0011; */
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content > .list .list-item a {
    color: #000000;
    text-decoration: none;
    padding-right: 20px;
    font-size: 18px;
    display: inline-block;
    font-weight: 700;
}

/* .content > .list .list-item a::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 7px;
    background-image: url(../image/arrow.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
} */

.content > .list .list-item a .arrow {
    display: inline-block;
    margin-left: 10px;
    padding-top: 8px;
    width: 7px;
    height: 16px;
    background-image: url('../image/arrow.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer {
    margin-top: 10vh;
    width: 100vw;
    background-color: #000000;
    color: #FFFFFF;
    padding: 2.5vh 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer .left-col {
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.footer .left-col a {
    width: max-content;
    margin-right: 20px;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer .left-col a:hover {
    text-decoration: underline;
}

.footer .right-col {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer .right-col .text {
    font-size: 14px;
    color: #FFFFFF;
    text-align: right;
}

.footer .right-col .text a {
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: underline;
}

.footer .right-col .text:nth-child(2) {
    margin-bottom: 10px;
}

.only-mobile {
    display: none;
}

/* Mobile */
@media screen and (max-width: 480px) {
    .only-desktop {
        display: none;
    }

    .header {
        padding: 0 5vw;
        height: 8vh;
    }

    .header .logo {
        height: 3vh;
    }

    .header .lang a {
        font-size: 14px;
    }

    .header .header-menu {
        margin-top: 2vh;
        border-radius: 2vh;
    }

    .header .header-menu .header-item {
        font-size: 14px;
        min-height: 4vh;
        max-height: 4vh;
        padding-left: 1vh;
        padding-right: 1vh;
        padding-top: calc((4vh - 1em) / 2);
    }

    .header .header-menu .header-item:last-child {
        border-radius: 0 0 2vh 2vh;
    }

    .kv-area {
        width: 100vw;
        height: unset;
        margin-top: 8vh;
        padding-top: 74vw;
        background-image: url('../image/kv_mobile.jpg');
        background-position: top center;
        background-size: contain;
    }

    .kv-area .text-box {
        width: 90%;
        padding: 5vw 0 7.5vw 0;
        margin-left: 5%;
        border-bottom: 1px solid #dddddd;
    }

    .kv-area .text-box .title {
        margin-bottom: 0.5em;
    }

    .content {
        width: 100vw;
        margin-top: 7.5vw;
    }

    .content > .section-title {
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 20px;
        font-size: 24px;
        margin-bottom: 5vw;
    }

    .content .gray-container {
        padding: 5vw;
    }

    .content .gray-container .white-box {
        padding: 7.5vw;
        flex-direction: column;
    }

    .content .gray-container .white-box:not(:last-child) {
        margin-bottom: 7.5vw;
    }

    .content .gray-container .white-box .only-mobile {
        flex-direction: column;
    }

    .content .gray-container .white-box .only-mobile .title {
        line-height: 1.2em;
        margin-bottom: 10px;
    }

    .content .gray-container .white-box .only-mobile .description {
        line-height: 1.2em;
        margin-bottom: 5vw;
    }

    .content .gray-container .white-box .only-mobile .img-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 5vw;
        border-bottom: 1px solid #dddddd;
    }

    .content .gray-container .white-box .only-mobile .img-container a {
        text-decoration: none;
    }

    .content .gray-container .white-box .only-mobile .img-container a .button {
        width: fit-content;
        background-color: #db0011;
        font-size: 16px;
        padding: 0.6em 1.2em;
        border-radius: 0.3em;
        font-family: 'HSBC-Medium';
        text-decoration: none;
        color: #FFFFFF;
    }

    .content .gray-container .white-box .card-img {
        flex-basis: 25vw;
        margin-right: 0;
        height: 40vw;
    }

    .content .gray-container .white-box .mid-right-container {
        width: unset;
    }

    .content .gray-container .white-box .mid-right-container .inner-container {
        margin-top: 5vw;
        flex-direction: column;
    }

    .content .gray-container .white-box .middle-col {
        width: unset;
    }

    .content .gray-container .white-box .middle-col .small-title {
        margin-bottom: 5vw;
    }

    .content .gray-container .white-box .middle-col .list {
        margin-bottom: 5vw;
    }

    .content .gray-container .white-box .middle-col .list .list-item::before, .content .gray-container .white-box .right-col .list-item::before {
        top: -8px;
        font-size: 28px;
    }

    .content .gray-container .white-box .right-col {
        margin-left: 0;
        padding-left: 0;
        border-left: none;
    }

    .content .gray-container .white-box .right-col .title {
        margin-bottom: 5vw;
    }

    .content .gray-container .white-box .right-col .list-item {
        padding-bottom: 5vw;
        border-bottom: 1px solid #dddddd;
        margin-bottom: 5vw;
        align-self: stretch;
    }

    .content .gray-container .white-box .right-col .list-item.no-bottom-space {
        padding-bottom: 0;
        border-bottom: none;
    }

    .content .gray-container .white-box .right-col a:last-child {
        margin-bottom: 0;
    }

    #content .section-title {
        padding-right: 20px;
    }

    .content .open, .content .close {
        position: absolute;
        width: fit-content;
        height: fit-content;
        top: 0.6em;
        right: 0;
    }

    .content.active > .container {
        width: 90%;
        margin-left: 5%;
    }

    .content > .container > .title {
        padding-left: 5vw;
        margin-bottom: 10px;
    }

    .content > .list, .content > .container > .list {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .content > .list .list-item::before, .content > .container > .list .list-item::before {
        top: -2px;
        font-size: 28px;
    }

    .content > .container > .small-title {
        padding-left: 5vw;
        font-size: 18px;
        font-family: 'HSBC-Medium';
        font-weight: 500;
    }

    .content .more-left-padding {
        margin-left: 0;
    }

    .content > .list .list-item, .content > .container > .list .list-item {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .only-mobile {
        display: flex;
    }

    .footer {
        margin-top: 12.5vw;
        flex-direction: column;
        padding: 5vw;
    }

    .footer .left-col {
        width: 100%;
        flex-wrap: wrap;
    }

    .footer .left-col > a {
        flex-basis: 50%;
        flex-shrink: 1;
        margin-right: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    .footer .right-col {
        align-items: center;
    }

    .footer .right-col > .text {
        text-align: center !important;
        margin-bottom: 10px;
    }

    .footer .right-col > .text:first-child, .footer .right-col > .text:nth-child(3) {
        margin-bottom: 0;
    }
}
/* Mobile End */